extends layout

block content
  for author_entries in authors
      table
        tr
          td #{author_entries.first} #{author_entries.last}
        tr
          td #{author_entries.bio}
        tr
          td #{author_entries.url}
          
