extends layout

block content
  for author_entry in author
      table
        tr
          td #{author_entry.first} #{author_entry.last}
        tr
          td #{author_entry.bio}
        tr
          td #{author_entry.url}
