extends layout

block content
  for book_entries in title
    table
      tr
        td #{book_entries.title}
      tr
        td #{book_entries.genre}
      tr
        td #{book_entries.description}
      tr
        td #{book_entries.url}
