extends layout

block content
    .row
      .col-md-3
        a(href='/books')
          img#books.home-images(src='/images/books.png', alt='books')
      .col-md-3
        a(href='/authors')
          img#authors.home-images(src='/images/authors.png', alt='authors')
