doctype html
html
  head
    title= 'GALVANIZE READS!'
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css', media='screen', title='no title', charset='utf-8')
  body
    .container
      .row
        .col-md-2
          a(href='/')
            img#galvlogo(src='/images/galvanize-logo.svg', alt='galvlogo')
        .col-md-1
          form(action='/books/new-book' method='get')
            input(type='submit' value='add book')
        .col-md-1
          form(action='/authors/new-author' method='get')
            input(type='submit' value='add author')
      block content
