doctype html
html
  head
    title= 'GALVANIZE READS!'
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css', media='screen', title='no title', charset='utf-8')
  body
    .container
      .nav(class="navbar bg-warning")
        .col-md-2
          a(href='/')
            img#galvlogo(src='/images/galvanize-logo.svg', alt='galvlogo')
        .col-md-1
          form(action='/books/new', method='link')
            input(class='btn btn-sm' type='submit', value='add book')
        .col-md-2
          form(action='/authors/new', method='link')
            input(class='btn btn-sm' type='submit', value='add author')
        .col-md-1
          form(action='/books', method='link')
            input(class='btn btn-sm btn-primary' type='submit', value='show books')
        .col-md-2
          form(action='/authors', method='link')
            input(class='btn btn-sm btn-primary' type='submit', value='show authors')
      block content
