extends layout

block content
  p
  p ADD AN AUTHOR
  p
  form(action='/authors' method='post')
      label(for=('first')) First Name: 
      p
        input(type='text' id='first' placeholder="Author's first name")
      label(for=('last')) Last Name: 
      p
        input(type='text' id='last' placeholder="Author's last name")
      label(for=('bio')) Biography: 
      p
        input(type='text' id='bio' placeholder="Short bio")
      label(for=('url')) URL:
      p
        input(type='text' id='url' placeholder='Portrait URL')
      p
        input(type='submit' value='add author')
  
